/* #root {
  max-width: full-screen;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* Reset global margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure the root container takes up full screen width and height */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* Optional: Apply a default background color or theme */
body {
  background-color: #f8f9fa; /* Light background */
  color: #333; /* Default text color */
  font-family: 'Arial', sans-serif; /* Default font */
}


.cont {
    position: relative;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
  }
  
  .cont::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/resume_pic.png');
    background-size: cover;
    /* background-position: center; */
    filter: blur(10px);
    z-index: -1; /* Places the blurred background behind the content */
  }